.screen-reader-text {
    display: none;
}
.quantity .qty {
    width: 4em;
}
.quantity .input-group {
    /* width: 8.5em; */
}
.quantity .input-group .btn-outline-secondary {
    border-color: #ced4da;
}
.quantity .input-group input[type="number"] {
  -moz-appearance: textfield;
  -webkit-appearance: none;
  flex: initial;
  text-align: center;
  border-left: none;
  border-right: none;
}
.quantity .input-group input::-webkit-outer-spin-button,
.quantity .input-group input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.korgou-direct .title {
    font-size: 15px;
    color: #2B2929;
    /* font-weight: 700; */
}
.korgou-direct .subtitle {
    font-size: 13px;
    color: #6F6C6C;
    /* font-weight: 700; */
}