/* Dropdown Button */
.dropbtn {
  background-color: white;
  font-size: 16px;
  font-weight: 500;
  border: none;
  width: 100%;
  color: black;
  padding: 13px 0;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  width: calc(100% + 2px);
  z-index: 1;
  padding: 20px;
  margin-top: -2px;
  margin-left: -1px;
  border: 1px solid #d4d4d4;
}
.dropdown-content input {
    width: 100%;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {color: black; background-color: #f8f9f9; }

.show-logged-in {
    display: none;
}

body.logged-in .show-logged-in {
    display: block;
}

.membership-btn {
  float:right;
  color: #fff;
  border-radius: 14px;
  background-color: #ced2d7;
  padding: 4px 12px;
  font-size: 12px;
  font-weight: bold;
}

.mt-2 {
  margin-top: 0.5em;
}
.mt-3 {
  margin-top: 1em;
}
.mt-4 {
  margin-top: 1.5em;
}
.mt-5 {
  margin-top: 3em;
}
.btn-block {
  display: block;
  width: 100%;
}

.kg-cost-cal button {
  background-color: #3765AF;
}
.kg-cost-cal .cost {
  border-bottom: 3px solid #EC1E81;
  color: #EC1E81;
  font-size: 24px;
  padding-bottom: 8px;
  font-weight: bold;
}
.kg-cost-cal .courier {
  font-size: 24px;
  font-weight: bold;
}
.kg-cost-cal .dimensions {
  display: flex;
  align-items: center;
}
.kg-cost-cal .dimensions input {
  flex: 1;
}
.kg-cost-cal .dimensions span {
  margin: 0 .5em;
}
.row {
  display: flex;
  align-items: center;
}
.row .col {
  flex: 1;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}