.noto-sans {
    font-family: 'Noto Sans KR', sans-serif;
}
.fw-m {
    font-weight: 500;
}
.fs-13 {
    font-size: 13px;
}
.fs-15 {
    font-size: 15px;
}
.korgou-direct {
    width: 100%;
}
.korgou-direct a {
    color: #2B2929;
}
.korgou-direct .swiper {
    position: relative;
    padding-bottom: 40px;
}
.korgou-direct .cat-thumb {
    margin-bottom: 46px;
}
.korgou-direct .swiper-container-horizontal > .swiper-scrollbar {
    position: absolute;
    width: 98%;
    left: 1%;
}
.korgou-direct .swiper-slide img,
.korgou-direct .products img {
    width: 100%;
    height: auto;
/*
    width: 273px;
    height: 277px;
    object-fit: cover;
*/
}
.korgou-direct .swiper-slide figure {
    /* height: 468px; */
    display: flex;
    align-items: center;
}
.text-center {
    text-align: center;
}
.korgou-direct .swiper-button-next,
.korgou-direct .swiper-button-prev {
    color: #567ABA;
}


.korgou-direct .product-list-wrap {
    max-width: 990px;
    width: 100%;
    padding: 0 70px;
    margin: 0 auto;
    position: relative;
}

.korgou-direct .product-list {
    width: 850px;
    margin: 0 auto;
    position: relative;
}
.korgou-direct .swiper-wrap {
    width: 100%;
    position: relative;
}
.korgou-direct .products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 33px;
}
.korgou-direct .products figure {
    /* width: 273px; */
    /* height: 468px; */
    display: flex;
    align-items: center;
}
.korgou-direct .product {
}

.korgou-direct .products hr {
    width: 30px;
    height: 2px;
    content: '';
    border-bottom: 1px solid #644B2E;
    margin: 11px 0 7px;
}

.korgou-direct .products .excerpt {
    font-size: 12px;
    color: #896E3F;
    text-align: left;
}
.korgou-direct .subcategory {
    margin-bottom: 11px;
    background-color: #A3AFB9;
    display: inline-flex;
    border-radius: 18px;
    font-size: 14px;
    padding: 0 11px;
    height: 28px;
}
.korgou-direct .subcategory:not(:first-child) {
    margin-top: 34px;
}

.korgou-direct .subcategory .name {
    color: #F8F8D4;
}

.korgou-direct .subcategory .description {
    margin-left: 8px;
    padding-left: 9px;
    color: #FAFAFA;
    margin-right: 27px;
    position: relative;
}
.korgou-direct .subcategory .description::before {
    content: '';
    position: absolute;
    border-right: 1px solid #F8F8D4;
    top: 9px;
    left: 0;
    height: 10px;
}
.korgou-direct .title {
    margin-top: 13px;
    font-size: 13px;
    color: #2B2929;
    font-weight: 500;
    text-align: left;
}
.korgou-direct .subtitle {
    font-size: 11px;
    color: #6F6C6C;
    font-weight: 500;
    text-align: left;
}
.korgou-direct .swiper-pagination-fraction {
    width: 100% !important;
    text-align: right;
    padding-right: 60px;
}
.korgou-direct .swiper-button-prev-2 {
    position: absolute;
    bottom: 6px;
    right: 110px;
}
.korgou-direct .swiper-button-prev-2 .dashicons {
    font-size: 24px;
}

@media (max-width: 849.98px) {
    .korgou-direct .product-list {
        width: 100%;
        padding: 0;
    }
    .korgou-direct .product-list:not(.slides) {
        padding-left: 20px;
        padding-right: 20px;
    }
    .korgou-direct .products {
        grid-template-columns: repeat(2, 1fr);
    }
    .korgou-direct .swiper-slide img,
    .korgou-direct .products img {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 559.98px) {
    .korgou-direct .products {
        grid-template-columns: repeat(1, 1fr);
    }
}
